[Unit]
Description=flygebil sensor logger
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/flygebil
User=flygebil
Group=flygebil

[Install]
WantedBy=multi-user.target
